<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newUser</servlet-name>
    <servlet-class>servlet.newUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveLatLng</servlet-name>
    <servlet-class>servlet.SaveLatLng</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>History</servlet-name>
    <servlet-class>servlet.History</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HistoryTrace</servlet-name>
    <servlet-class>servlet.HistoryTrace</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveOpenID</servlet-name>
    <servlet-class>servlet.SaveOpenID</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserCheck</servlet-name>
    <servlet-class>servlet.UserCheck</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>servlet.Feedback</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RealTimeSaveLatLng</servlet-name>
    <servlet-class>servlet.RealTimeSaveLatLng</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>newUser</servlet-name>
    <url-pattern>/newUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveLatLng</servlet-name>
    <url-pattern>/SaveLatLng</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistoryTrace</servlet-name>
    <url-pattern>/HistoryTrace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveOpenID</servlet-name>
    <url-pattern>/SaveOpenID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserCheck</servlet-name>
    <url-pattern>/UserCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RealTimeSaveLatLng</servlet-name>
    <url-pattern>/RealTimeSaveLatLng</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
